*{
    margin:0;
    padding:0;
  }
  body{
    background-color:#c5f5f7;
    text-align:center;
    
  }
  
  h1{
    margin-top:1rem;
    background-color:#000129;
    color:white;
    height: 3rem;
    line-height:3rem;
  }
  .container{
    height:70vh;
    display:flex;
    justify-content: center;
    align-items:center;
    margin-top:2rem;
    
  }
  .game{
    height:60vmin;
     width:60vmin;
     display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items:center;
    gap:1.5vmin;
    
    
  }
  .box{
    height:18vmin;
    width: 18vmin;
    border-radius:1rem;
    border-color: #403a3a;
    font-size: 8vmin;
    color:#732b2b;
    background-color:#e6e689;
  } 
   
   #reset-btn{
     padding: 1rem;
     font-size: 1.15rem;
     background-color: #0a0a38;
     color:white;
     border-radius:1rem;
     border:none;
  } 
  #new-btn{
    padding:0.7rem;
     font-size: 1.15rem;
     background-color: #0a0a38;
     color:white;
     border-radius:0.5rem;
     border:none;
    }
  #msg{
    font-size: 8vmin;
    color:#384c15;
    font-style:italic;
  }
  .msgcontainer{
    height:70vmin;  
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items:center;
    margin-bottom:12rem;
    flex-direction: column;
    gap:3rem;
    
  }
  
  .hide{
    display:none;
  }
